/* font styles */
/* Lato fonts */
*  {
    font-family: 'Lato', sans-serif;
}

/* Montserrat fonts */
.navbar .nav-link, .navbar .navbar-brand.navbar-login, .footer-links a, .row-header, .btn-light, .btn-dark, .jumbotron-header h1, .parallax-h3, .contact-section .contact-address h3, .subscribe-section h3  {
    font-family: 'Montserrat', sans-serif;
}

/* 12px fonts */
.navbar .nav-link, .navbar .navbar-login  {
    font-size: 14px;
}

/* purple background-color */
.contact-address, .navbar-brand.navbar-login:hover, .btn-dark {
    background-color: #544f75;
}

/* animation delays */
.anim-delay-1 {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}

.anim-delay-2 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

.anim-delay-3 {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
.anim-delay-4 {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

/* global styles */
html, body {
    width:100%;
}
html{
    background-color: #333;
}
body {
    position: relative;
    left: 0;
    padding: 0px;
    z-index: 0; 
    -webkit-transition: left 0.6s ease;
    -moz-transition: left 0.6s ease;
    -o-transition: left 0.6s ease;
    transition: left 0.6s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.row-header {
    margin: 30px auto;
    padding: 0px auto;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;

}

.row-content {
    margin: 0px auto;
    padding: 90px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    max-width: 770px;
}


/* Colors */
.gray-border {
    border-color: rgba(255,255,255,0.2)!important;
}

.isScrolling .gray-border, .isScrolling.gray-border {
    border-color: #ededed!important;
}


/* navbar styles */
.navbar {
    padding: 0px;
    z-index: 1000;
    background-color: transparent;
    border-bottom:1px solid;
    -webkit-transition: left 0.6s ease, right 0.6s ease, background .3s ease, color .3s ease;
    -moz-transition: left 0.6s ease, right 0.6s ease, background .3s ease, color .3s ease;
    -o-transition: left 0.6s ease, right 0.6s ease, background .3s ease, color .3s ease;
    transition: left 0.6s ease, right 0.6s ease, background .3s ease, color .3s ease;

}

.navbar a{
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.navbar .nav-link {
    padding: 0 2px!important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-login {
    color: rgba(255,255,255,0.7);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-login:hover {
    color: rgba(255,255,255,1);
}

.navbar a:hover{
    border-bottom: 2px solid white;
}

.navbar-brand {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    padding: 23px 35px;
    border-right: 1px solid;
    border-bottom: none!important;
    transition: padding .3s ease, background .3s ease, color .3s ease;
}

.navbar-brand.navbar-login {
    padding: 35px 28px;
    padding-right: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    margin-left:1.1vw;
    border-left: 1px solid;
    border-right: 0px;
    cursor: pointer;
}

.navbar-brand.navbar-login:hover {
    text-decoration: none;
    border-color:transparent!important;
}

.nav-item {
    padding: 0px 1.3vw;
}

.navbar-toggler{
    padding: .25rem  10px .25rem 5px;
    border: none;
    margin-right: 15px;
}

.navbar .navbar-phone {
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: 700;
}




/* mobile navbar styles */
#mobile-nav {
    display: table-column;
    padding: 12px 20px;
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%!important;
    -webkit-transition: right 0.6s ease;
    -moz-transition: right 0.6s ease;
    -o-transition: right 0.6s ease;
    transition: right 0.6s ease;
    background-color: #333;
}

#mobile-nav .nav-item {
    padding: 0;
}

#mobile-nav hr {
    border-color: rgba(255,255,255,.5)!important;
    margin: 8px 0;
}

#mobile-nav ul {
    height: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.menuExpanded #mobile-nav{
    right: 0;
}

body.menuExpanded {
    left: -250px;
}

.menuExpanded .navbar {
    right: 250px;
    left: -250px;
}



/* styles when navbar is scrolling */
.navbar.isScrolling {
    background-color: white;
}

.navbar.isScrolling a, .navbar.isScrolling .navbar-brand, .navbar.isScrolling .navbar-toggler {
    color: #333!important;
}

.navbar.isScrolling a:hover{
    border-bottom: 2px solid #333;
}

.navbar.isScrolling .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.isScrolling .navbar-brand {
    padding: 17px 35px;
}

.navbar.isScrolling .navbar-brand.navbar-login {
    padding: 29px 28px;
    padding-right: 32px;
}

.navbar.isScrolling .navbar-brand.navbar-login:hover {
    color: #fff!important;
}

.mobile-menu #mobile-nav a {
    color: rgba(255,255,255,.5)!important;
    border-bottom: transparent!important;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 0px!important;
}


.isScrolling .mobile-menu #mobile-nav a:hover, .menuExpanded .mobile-menu #mobile-nav a:hover {
    color: rgba(255,255,255,1)!important;
    border-bottom: transparent!important;
}



/* button styles */
.btn-light {
    margin-top: 20px;
    text-transform: uppercase;
    color: #544f75;
    border: 1px solid #533f75;
    padding: 12px 35px;
    border-radius: 0;
    font-size: 12px;
    background-color: #fff;
}

.btn-light:hover {
    border: 1px solid #533f75;
}

.btn-dark {
    text-transform: uppercase;
    padding: 16px 35px;
    border-radius: 0;
    font-size: 12px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;

}

.btn-dark:hover {
    background-color: #ceb900;
}

/* header styles */
.overlayBox {
    background: rgba(10,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.jumbotron {
    position: relative;
    top: 0;
    padding: 70px 10px 70px 10px;
    margin: 0px auto;
    background: url('../img/jumbotron-bg.jpg') center / cover;
    color: floralwhite;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.jumbotron-about {
    position: relative;
    top: 85px;
    padding: 70px 10px 70px 10px;
    margin: 0px auto;
    background: url("https://unionclubtacoma.com/wp-content/uploads/2017/12/TopImage1920x600W.jpg") center / cover;
    color:floralwhite;
    width: 100%;
    height: 60vh;
    z-index: 1;
}

.jumbotron .jumbotron-header {
    margin-top: -100px;
    top: 50%;
    position: relative;
    z-index: 3;
}

.jumbotron-header h1 {
    font-size: 86px;
    letter-spacing: 1.125px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.jumbotron-header h3 {
    font-size: 18px;
    letter-spacing: 1.125px;
    margin-bottom: 14px;
    text-transform: uppercase;
}


/* section styles */
.benefits-section {
    padding: 60px 0;
    background-color: rgb(248, 248, 248);
    z-index: 10;
    position: relative;
}

.benefits-section .row-header {
    margin-bottom: 70px;
}

.benefit-items  i{
    margin-bottom: 8px;
    font-size: 46px;
}

.benefit-items .col-12 {
    min-height: 140px;
}

.parallax-h3 {
    z-index: 3;
    width: 100%;
    line-height: 66px;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

.parallax-figure {
    position: relative; 
    height: 460px; 
    overflow: hidden; 
    margin-bottom: 0;
}

.contact-section .contact-address h3:before {
    position: absolute;
    left: 2px;
    bottom: -25px;
    width: 33px;
    height: 1px;
    background: #fff;
    content: "";
}
.contact-section .contact-address h3 {
    position: relative;
    line-height: 30px;
    margin-bottom: 70px;
    color: #ffffff;
    font-size: 26px;
    text-transform: uppercase;
}

.contact-section .contact-address {
    padding: 160px 0px 140px 15%;
    max-width: 992px; 
}

.subscribe-section h3{
    color: #333333;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.subscribe-section.row-content {
    padding: 60px 0px;
    min-height: 0;
}

.subscribe-section i {
    font-size: 36px;
    color: #333;
    margin-bottom: 14px;
}

.subscribe-section input {
    border: 1px solid #e5e5e5;
}

.instagram-section li {
    width: 12.5%;
    float: left;
  }
  
.instagram-section img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.instagram-hashtag {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.instagram-hashtag:hover {
    opacity: 1;
}

.instagram-hashtag h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.instagram-hashtag h3 a {
    display: inline-block;
    color: #333333;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}


/* footer styles */
.footer {
    background-color: #333;
    color: rgba(255,255,255,0.7);
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.footer-social {
    padding: 50px 0;
    margin-bottom: 55px;
    border-bottom: 1px solid #3c3c3c;
}

.footer-social a{
    display: inline-block;
    position: relative;
    line-height: 37px;
    padding-left: 49px;
    padding-top: 0;
    min-height: 37px;
    color: #fff!important;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
}

.footer-social a i {
    position: absolute;
    height: 37px;
    width: 37px;
    border-radius: 100%;
    border: 2px solid #fff;
    top: 0;
    left: 0;
    line-height: 33px;
    font-size: 16px;
    color: #fff;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
    -moz-transition: background 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;
}

.footer-social a:hover i {
    color: #333;
    background-color: #fff;
}

.footer-social a span {
    font-size:12px;
}

.footer-social a:hover span {
    color: #fff;
}

.footer-logo {
    margin-bottom: 48px;
    height: 80px;
    z-index: 10;
}

.footer-links a {
    font-weight: bold;
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    letter-spacing: 0.0625em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

.footer-links {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer-links .left-space {
    margin-left: 50px;
}

.footer-links .right-space {
    margin-right: 50px;
}

.copyright {
    color: #4b4b4b;
    font-size: 11px;
}

.copyright p {
    margin-bottom: 0;
}


/* Media Queries */
@media screen and (max-width: 992px) {
    .navbar-brand {
        border-right: 0;
    }
    .footer-social {
        padding: 30px 0;
        margin-bottom: 20px;
    }
    .footer-logo{
        margin-bottom: 16px;
    }
    .footer-links {
        position: relative!important;
        margin-top: 0px;
        margin-left: 0;
    }
    .footer-links .left-space {
        margin-left: 0px;
    }
    .footer-links .right-space {
        margin-right: 0px;
    }
    .jumbotron h1 {
        font-size: 60px;
    }
    .contact-section .contact-address {
        padding: 80px 0px 60px 0;
    }
    .contact-section .contact-address h3:before {
        left: 50%;
        margin-left: -16px;
    }
    .map-container {
        height: 400px;
    }
    .instagram-hashtag h3 a {
        font-size: 28px;
    }
    .jumbotron-header h1 {
        margin-bottom: 30px;
    }
    .jumbotron .jumbotron-header {
        margin-top: -80px;
    }

}

@media (max-width: 576px) {
    html, body {
    width: auto !important;
    overflow-x: hidden !important;
    }

    .jumbotron h1 {
        font-size: 30px;
    }
}