/* font styles */

/* font-family: 'Montserrat', sans-serif; */
/* @font-face {
    font-family: Montserrat;
    src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2);
} */

/* Montserrat fonts */
.navbar .nav-link, .navbar .navbar-brand.navbar-login  {
    font-family: 'Montserrat', sans-serif;
}

/* Lato fonts */
.navbar .navbar-phone, .navbar .navbar-brand  {
    font-family: 'Lato', sans-serif;
}

/* 12px fonts */
.navbar .nav-link, .navbar .navbar-login  {
    font-size: 14px;
}



/* global styles */
body {
    padding: 0px;
    z-index: 0; 
    -webkit-transition: left 0.6s ease;
    -moz-transition: left 0.6s ease;
    -o-transition: left 0.6s ease;
    transition: left 0.6s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}


/* Colors */
.gray-border {
    border-color: rgba(255,255,255,0.2)!important;
}

.isScrolling .gray-border, .isScrolling.gray-border {
    border-color: #ededed!important;
}


/* navbar styles */
.navbar {
    padding: 0px;
    z-index: 1000;
    background-color: transparent;
    border-bottom:1px solid;
    transition: background .3s ease, color .3s ease;
}

.navbar a{
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.navbar .nav-link {
    padding: 0 2px!important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-login {
    color: rgba(255,255,255,0.7);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-login:hover {
    color: rgba(255,255,255,1);
}

.navbar a:hover{
    border-bottom: 2px solid white;
}

.navbar-brand {
    text-decoration: none!important;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    padding: 23px 35px;
    border-right: 1px solid;
    border-bottom: none!important;
    transition: padding .3s ease, background .3s ease, color .3s ease;
}

.navbar-brand.navbar-login {
    padding: 35px 28px;
    padding-right: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    margin-left:1.1vw;
    border-left: 1px solid;
    border-right: 0px;
    cursor: pointer;
}

.navbar-brand.navbar-login:hover {
    text-decoration: none;
    background-color: #544f75!important;
    border-color:transparent!important;
}

.nav-item {
    padding: 0px 1.3vw;
}

.navbar-toggler{
    border: none;
}

.navbar .navbar-phone {
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: 700;
}

/* styles when navbar is scrolling */
.navbar.isScrolling {
    background-color: white;
}

.navbar.isScrolling a, .navbar.isScrolling .navbar-brand, .navbar.isScrolling .navbar-toggler {
    color: #333!important;
}

.navbar.isScrolling a:hover{
    border-bottom: 2px solid #333;
}

.navbar.isScrolling .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.isScrolling .navbar-brand {
    padding: 17px 35px;
}

.navbar.isScrolling .navbar-brand.navbar-login {
    padding: 29px 28px;
    padding-right: 32px;
}

.navbar.isScrolling .navbar-brand.navbar-login:hover {
    color: #fff!important;
}



/* header styles */
.overlayBox {
    background: rgba(10,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: url('../img/jumbotron-bg.jpg') center / cover;
    color: floralwhite;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.jumbotron .container {
    margin-top: -100px;
    top: 50%;
    position: relative;
    z-index: 3;
}


/* footer styles */
.footer {
    background-color: #333;
    color: rgba(255,255,255,0.7);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}