body {
    padding: 50px 0px 0px 0px;
    z-index: 0px;
}

.navbar-dark{
    background-color:rgba(10,0,0,0.75);
}

.title{
    text-size-adjust: 500px;
    text-align: center;
    
}
/*About Page*/
.aboutClub{
    text-align: center;
    padding: 25px;
    top: 90px;
}

.office{
    position: absolute;
    top: 120px;
}

.deskLady, .guyAtDesk{
    position:relative;
    bottom: 100%;
}

.btn-member{
    background-color: #544f75;
    color: #fff;
}

/*Rentals Page */
.carousel-item{
    height: 300px;
}

.carousel-item img{
    position:absolute;
    top:0;
    left:0;
    min-height: 300px;
}

.card-img{
   min-height: 380px;
}


.overlayBox {
    background: rgba(10,0,0,0.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    color: floralwhite;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.jumbotron .container {
    margin-top: -100px;
    top: 50%;
    position: relative;
    z-index: 3;
}


/* Colors */
.gray-border {
    border-color: rgba(255,255,255,0.2)!important;
}


/* footer styles */
.footer {
    background-color: #333;
    color: lightslategray;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}